<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin page</title>
</head>
<body>
	
	<p>Admin</p>
	<form action="/reguser" method="get">
	    <input type="text" name="name" placeholder="Name" />
	    <input type="submit" />
    </form>
    
    
    <form action="/reglocation" method="get">
	    <input type="text" name="name" placeholder="Name" />
	    <input type="text" name="address" placeholder="Adress" />
	    <input type="submit" />
    </form>

	<a th:href="@{regmatch_start}">Go to Match Registration</a>

    
</body>
</html>